@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Nunito", serif;
}

:root {
  --primaryText-color: black;
  --secondaryText-color: white;
  --secondaryBody-color: black;
  --tertiaryBody-color: white;
  --tertiary-color: #ff8225;
  --tertiaryText-color: #ff8225;
}
body {
  /* background-color: var(--primaryBody-color); */
}

/* .box-shadow {
  box-shadow: 0 0 6px 1px #f5f5f5;
} */

.box-shadow {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purple {
  background: linear-gradient(to bottom, #e0bbff, #d1a3ff);
}

/* select css */
.custom-select {
  position: relative;
  width: 100%; /* Adjust as needed */
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 100%; /* Full width of the select container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  color: black;
  border: 1px solid #ccc;
}

/* Add custom arrow */
.custom-select::after {
  content: "▼"; /* Custom arrow symbol */
  font-size: 1.5rem;
  color: #333;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none; /* To ensure the arrow doesn't block click events */
}

.custom-select select:focus {
  box-shadow: none;
}

/* Auth transition start */
.form-container {
  transition: all 0.6s ease-in-out;
}

.toggle-container {
  z-index: 9;
  transition: transform 0.6s ease-in-out;
}
/*Auth transition ends */
